<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register - Voting Client Site</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <div class="col-md-12">
            <h3 class="card-title col-md-12 text-center">
                <a href="/">
                    Client Site
                </a>
            </h3>
        </div>
    </div>

    <main class="login-form">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Register</div>
                        <div class="card-body">
                            <form id="register-form">
                                <div class="form-group row">
                                    <label for="first_name" class="col-md-4 col-form-label text-md-right">First Name</label>
                                    <div class="col-md-6">
                                        <input type="text" id="first_name" class="form-control" name="first_name" required autofocus>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="last_name" class="col-md-4 col-form-label text-md-right">Last Name</label>
                                    <div class="col-md-6">
                                        <input type="text" id="last_name" class="form-control" name="last_name" required autofocus>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                                    <div class="col-md-6">
                                        <input type="text" id="email_address" class="form-control" name="email_address" required autofocus>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                    <div class="col-md-6">
                                        <input type="password" id="password" class="form-control" name="password" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="gender" class="col-md-4 col-form-label text-md-right">Gender</label>
                                    <div class="col-md-6" id="genderResult">
                                        <select class="form-control" id="gender"></select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="age" class="col-md-4 col-form-label text-md-right">Age</label>
                                    <div class="col-md-6">
                                        <input type="number" id="age" class="form-control" name="age" required autofocus>
                                    </div>
                                </div>

                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Register
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer mt-4">
                            <div class="d-flex justify-content-center links">
                                Already have an account? <a href="/Account/Login" class="ml-2">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Voting Client Site
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var sessID = getCookie("SessionID")

            if (sessID == "") {
                $.ajax({
                    url: "http://localhost:53147/gateway/auth/session",
                    contentType: 'application/json',
                    dataType: 'json',
                    method: "POST",
                    async: false,
                    success: function (result) {
                        sessID = result.data.sessionId;
                        setCookie("SessionID", result.data.sessionId, 24, "/")
                    }
                });
            } else {
                $.ajax({
                    url: "http://localhost:53147/gateway/auth/session",
                    contentType: 'application/json',
                    dataType: 'json',
                    method: "GET",
                    async: false,
                    success: function (result) {
                        // already login
                        if (result.data.isLogin) {
                            window.location.href = "/"
                        }
                    }
                });
            }

            $.ajax({
                url: "http://localhost:53147/gateway/auth/account/gender",
                contentType: 'application/json',
                headers: {
                    "SessionID": sessID
                },
                dataType: 'json',
                method: "GET",
                success: function (result) {
                    if (result.status == "200") {
                        var itemSelect = '<select class="form-control" id="gender-id">';

                        var x
                        for (x = 0; x < result.data.length; x++) {
                            itemSelect += '<option value="' + result.data[x].genderId + '">' + result.data[x].name + '</option>'
                        }
                        itemSelect += '</select>'

                        document.getElementById("genderResult").innerHTML = itemSelect;
                    }
                }
            });
        });

        $("#register-form").submit(function (e) {
            var firstName = $("#first_name").val()
            var lastName = $("#last_name").val()
            var email = $("#email_address").val()
            var password = $("#password").val()
            var age = $("#age").val()
            var catInput = document.getElementById("gender-id");
            var gender = catInput.options[catInput.selectedIndex].value;
            var sessID = getCookie("SessionID")

            e.preventDefault();

            var body = '{"FirstName":"' + firstName + '", "LastName":"' + lastName + '", "Email":"' + email
                + '", "Password":"' + password + '", "Gender":"' + gender + '", "Age":' + age + '}'

            $.ajax({
                url: "http://localhost:53147/gateway/auth/account/register",
                contentType: 'application/json',
                headers: {
                    "SessionID": sessID
                },
                data: body,
                dataType: 'json',
                method: "POST",
                success: function (result) {
                    window.location.href = "/Account/Login"
                }
            });
        });

    </script>
</body>
</html>
