@{
    ViewData["Title"] = "Voting Item";
}


<div class="container">
    <div class="row">
        <h3 class="card-title col-md-3">
            Voting Items
        </h3>
    </div>

    <div class="row">
        <div id="resultVotingItem">
            
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="voteItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="vote-item-form">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Vote for Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-form-label">Are you sure to vote this voting item?</label>
                        <input type="hidden" id="vote-id" />
                        <input type="text" class="form-control" value="" disabled id="item-name-vote" name="item-name-vote">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Vote!</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var sessionID = getCookie("SessionID");
            if (sessionID == "") {
                $.ajax({
                    url: "http://localhost:53147/gateway/auth/session",
                    contentType: 'application/json',
                    dataType: 'json',
                    method: "POST",
                    async: false,
                    success: function (result) {
                        setCookie("SessionID", result.data.sessionId, 24, "/")
                        window.location.href = "Account/Login"
                    }
                });
            }

            $.ajax({
                url: "http://localhost:53147/gateway/vote-search/search",
                contentType: 'application/json',
                headers: {
                    "SessionID": sessionID
                },
                dataType: 'json',
                method: "GET",
                success: function (result) {
                    if (result.status == "200") {
                        var tbody = "<tbody>"
                        var idx = 1
                        var x
                        for (x = 0; x < result.data.length; x++) {
                            tbody += '<tr>'
                                + '<td>' + idx + '</td>'
                                + '<td>' + result.data[x].name + '</td>'
                                + '<td>' + result.data[x].supportersCount + '</td>'
                                + '<td>' + result.data[x].dueDate + '</td>'
                                + '<td>' + getCategories(result.data[x].categories) + '</td>'
                                + '<td>'
                                + '<a class="btn btn-info" href="/VotingItem/Detail/' + result.data[x].votingItemID + '" role="button">View</a> |'
                                + '<a class="btn btn-success getDateWhenVote" href="#" role="button" data-id="' + result.data[x].votingItemID + '" data-name="' + result.data[x].name + '" data-toggle="modal" data-target="#voteItem">Vote</a>'
                                + '</td>'
                                + '</tr >';
                            idx += 1
                        }
                        tbody += "</tbody>"

                        var table = '<div class="col-md-12">'
                            + '<table class="table" >'
                            + '<thead>'
                            + '<tr>'
                            + '<th scope="col">#</th>'
                            + '<th scope="col">Name</th>'
                            + '<th scope="col">Supporters Count</th>'
                            + '<th scope="col">Due Date</th>'
                            + '<th scope="col">Categories</th>'
                            + '<th scope="col">Action</th>'
                            + '</tr >'
                            + '</thead>'
                            + tbody
                            + '</table>'
                            + '</div >';

                        document.getElementById("resultVotingItem").innerHTML = table;
                    }
                }
            });
        });

        function getCategories(categories) {
            var result = ""
            var x
            for (x = 0; x < categories.length; x++) {
                result += categories[x].name + " "
            }
            return result
        }

        $(document).on("click", ".getDateWhenVote", function () {
            var id = $(this).data('id');
            var name = $(this).data('name');
            $(".modal-body #vote-id").val(id);
            $(".modal-body #item-name-vote").val(name);
        });

        $("#vote-item-form").submit(function (e) {
            var id = $("#vote-id").val()
            var sessID = getCookie("SessionID")
            e.preventDefault();

            var body = '{"VotingItemID":"' + id + '"}';

            $.ajax({
                url: "http://localhost:53147/gateway/vote-service/votes",
                contentType: 'application/json',
                headers: {
                    "SessionID": sessID
                },
                data: body,
                dataType: 'json',
                method: "POST",
                success: function (result) {
                    if (result.status == "200") {
                        window.location.href = "/"
                    } else if (result.status == "401") {
                        window.location.href = "/Account/Login"
                    }
                },
                error: function (result) {
                    if (result.status == "401") {
                        window.location.href = "/Account/Login"
                    }
                    $('#voteItem').modal('hide');
                }
            });
        });
    </script>
}